


.h-icon {
    font-size: 2rem;
    cursor: pointer;
}

.toggle .h-icon {
    padding: .1em;
}

.toggle .h-icon:hover {
    border-radius: 50%;
    /* padding: .1em; */
    /* margin-right: .2em; */
    background-color: #dfdddd;
}

.title-word {
    font-size: x-large;
    font-weight: 600;
    /* transform: translateY(-200px); */
}

.search-input {
    border-radius: 25px 0 0 25px !important;
}

.input-group-text {
    margin-right: 2em;
    border-radius: 0 25px 25px 0 !important;
}

.profile {
    display: flex;
    justify-content: right;
}

    .offcanvas {
        width: 250px !important;
    }
    
  .create-vid {
      margin-right: .7em;
      height: 30px;
      width: 30px;
      padding: .3rem;
    }
    
    .create-vid i {
        color: black;
        font-size: x-large;

    }
    
    .create-vid:hover {
      background-color: #dfdddd;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      padding: .3rem;

  }
    .create-vidw .rounded-circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .S-microphone {
        padding:.5em 0;
        cursor: pointer;    
        /* background: red; */
        /* border-radius: 50px; */
    }